@font-face {
  font-family: Play;
  font-weight: 700;
  font-style: normal;
  src: local("Play"),
     url("../fonts/Play-Bold.woff") format('woff'),
     url("../fonts/Play-Bold.woff2") format('woff2'),
     url("../fonts/Play-Bold.eot") format('eot');
  font-display: swap;
}

@font-face {
  font-family: Play;
  font-weight: 400;
  font-style: normal;
  src: local("Play"),
     url("../fonts/Play-Regular.woff") format('woff'),
     url("../fonts/Play-Regular.woff2") format('woff2'),
     url("../fonts/Play-Regular.eot") format('eot');
  font-display: swap;
}